/*Styles généraux*/

.bloc_page {
  margin: 0 auto;

  /*Retirer le widht 100%*/
}

*,
::after {
  box-sizing: border-box;
}

p,
h2 {
  font-family: "Roboto", sans-serif; /*Police Texte utilisé Roboto Regular 400*/
}

h1 {
  font-family: "Shrikhand", cursive; /*Police Logo et titres utilisés Shrikhand Regular 400*/
}

/****Faire l'ajustement pour un mobile small 320 px****/

/****Résolution pour un mobile taille S ****/

@media only screen and (min-width: 100px) {
  /*******Page Accueil********/

  /***Header***/

  h1.title_website {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  header {
    box-shadow: 0px 0px 0px 0px;
    /*Ombre à revoir*/
  }

  /* Page d’accueil “loading spinner”*/
  /*1 à 3 secondes  couvrir l'intégralité de l'écran*/

  .loading-display {
    position: relative;
  }

  .loading-spinner {
    position: absolute;
    top: 320px;
    left: 842px;
    margin: auto;
    border: 20px solid #9356dc;
    border-radius: 50%;
    border-top: 20px solid #ff79da;
    border-left: 20px solid #ff79da;
    width: 200px;
    height: 200px;
    animation: spinner 3s linear infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }

    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }

  /***Localisation géographique***/

  .localization-town {
    display: flex;
    background-color: #eaeaea;
    /*Voir pour un 375px Problématique widht 100% J'ai retiré*/
    margin-bottom: 0px;
    justify-content: center;
  }

  .localization-town p {
    margin-left: 20px;
  }

  .fa-map-marker-alt {
    line-height: 49px;
  }

  /***Baseline***/

  .baseline {
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    background-color: #f6f6f6;
  }

  .baseline h2 {
    margin-top: 0px;
    padding-top: 40px;
    font-weight: bold;
  }
  /*Pour ne pas afficher le titre Réservez en mobile et Tablet...*/
  .desktop-display {
    display: none;
  }

  .baseline .line-title {
    padding-top: 0px;
    line-height: 0px;
  }

  .baseline-txt {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 0px;
    line-height: 5px;
  }

  /********Mise en place pour l'animation du bouton*********/

  .baseline-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .baseline button {
    border-radius: 20px;
    width: 74%;
    height: 50px;

    border: 20px;
    color: #ffffff;
    font-weight: bolder;

    background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
    box-shadow: 5px 5px 5px 0px #b998ce;

    position: relative;
    z-index: 1;
  }

  .baseline button:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .baseline button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(to bottom, #ff79da 50%, #9356dc 100%);
    opacity: 1;
    z-index: -1;
    transition: opacity 250ms;
  }

  /***Fonctionnement***/

  .functioning {
    height: 375px;
  }

  .functioning h2 {
    /*voir widht*/
    margin-left: 20px;
    margin-bottom: 35px;
  }

  .functioning-display {
    display: flex;
    flex-direction: column;
  }

  .functioning button {
    display: flex;
    width: 92%;
    margin-bottom: 25px;
    margin-left: 15px; /*Marge à gauche à vérifier*/
    border: 20px;
    border-radius: 20px;
    background-color: #f6f6f6;
    height: 70px;
    justify-content: flex-start;
  }

  .button-number {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #9356dc;
    line-height: 25px;
    margin-top: 23px;
    margin-left: -12px;
  }

  .functioning .button-number {
    color: #ffffff;
  }

  .fa-mobile-alt {
    line-height: 70px;
    padding-right: 30px;
    padding-left: 35px;
    font-size: 20px;
    color: #7e7e7e;
  }

  .fa-list {
    line-height: 70px;
    padding-right: 30px;
    padding-left: 29px;
    font-size: 20px;
    color: #7e7e7e;
  }

  .fa-store {
    line-height: 70px;
    padding-right: 35px;
    padding-left: 26px;
    font-size: 20px;
    color: #9356dc;
  }

  .button-txt {
    line-height: 78px;
    font-weight: bolder;
  }

  .functioning .button-purple {
    border: 20px;
    border-radius: 20px;
    height: 70px;
    background-color: #f5edff;
  }

  .button-txt-align {
    line-height: 78px;
    font-weight: bolder;
    margin-left: -12px;
  }

  /***Restaurant***/

  .restaurant {
    height: 1300px;
    background-color: #f6f6f6;
  }

  .desktop_restaurant {
    padding: 20px;
  }

  .restaurant h2 {
    padding-top: 55px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .restaurant-content {
    position: relative;
    width: 100%;
    height: 260px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
  }

  .restaurant-content img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  .restaurant-new {
    position: absolute;
    right: 10px;
    top: -5px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: #99e2d0;
    border-radius: 5px;
    color: #139273;
  }
  .restaurant-txt {
    margin-left: 15px;
    margin-top: 0px;
  }

  .restaurant-txt-bold {
    font-weight: bold;
  }

  .txt_city {
    line-height: 0px;
  }

  .restaurant-heart {
    position: absolute;
    bottom: 29px;
    right: 20px;
  }

  .fa-heart {
    font-size: 25px;
  }

  .restaurant-text {
    margin-left: 15px;
    margin-top: 0px;
  }

  /*Couleur des boutons principaux s'éclaircir et l'ombre plus visible*/

  /*Animation coeur Sauvegarder les menus préférés*/

  .restaurant-animation {
    position: relative;
  }

  .animationHeart {
    position: absolute;
    color: transparent;
    left: 0;
  }

  .animationHeart:hover {
    cursor: pointer;
    background: linear-gradient(#9356dc, #ff79da);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: bottom;
    background-repeat: no-repeat;
    animation: keyAnimHerat 0, 5s linear;
  }

  @keyframes keyAnimHerat {
    0% {
      background-size: 100% 0%;
    }

    100% {
      background-size: 100% 100%;
    }
  }

  .restaurant-content a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
  }

  /***Footer***/

  footer {
    background-color: #353535;
    height: 195px;
    padding-top: 20px;
    color: black;
  }

  .logo-footer {
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .logo-footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Shrikhand", cursive;
  }

  .fa-utensils,
  .fa-hands-helping {
    margin-right: 10px;
  }

  .fa-hands-helping {
    font-size: 10px;
  }

  .footer_link {
    text-decoration: none;
    color: #ffffff;
    margin-left: 25px;
  }

  .footer_link {
    line-height: 25px;
    font-family: "Roboto", sans-serif;
  }

  /******* Menu La Palette du goût et test pour autres menus *******/

  /***Header****/

  .header-menu {
    background-color: #ffffff;
  }

  .header-menu-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }

  .header-menu-display a {
    text-decoration: none;
    color: #000000;
  }

  /***Affichage du menu***/

  /***Titre du Menu restaurant La palette du goût***/

  .menu-display {
    background-color: #f6f6f6;
    border-radius: 30px 30px 0px 0px;
    height: 1205px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 225px;
    border-radius: 0px 0px 30px 30px;
  }

  .menu-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-title h2 {
    font-family: "Shrikhand", cursive;
  }

  /***Affichage des entrées***/

  /***Titre Entrée***/

  .entrance-title {
    font-weight: normal;
    margin-left: 20px;
  }

  .entrance-title h3 {
    border-bottom: 3px solid #99e2d0;
    width: 20%;
  }

  /***Flex pour les 3 blocs des entrées sans le titre***/

  .entrance-presentation {
    display: flex;
    flex-direction: column;
  }

  .entrance {
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }

  .entrance-alignement {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .entrance-bold {
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .entrance-price {
    font-weight: bold;
    margin-top: 5px;
  }

  .entrance-txt {
    font-size: 12px;
    margin-top: 5px;
  }

  /*Affichage des plats en animation*/

  .entrance-menu {
    opacity: 1;
    transition: opacity;
    animation: Amenudisplay 500ms 150ms;
  }

  @keyframes Amenudisplay {
    0% {
      transform: translateY(100px);
      opacity: 1;
      transition: 300ms;
    }

    50% {
      opacity: 0.5;
      transition: 800ms;
    }

    100% {
      opacity: 1;
    }
  }

  /* Affichage pour validation utilisateur des plats*/

  .dishes-validation {
    background-color: #99e2d0;
    color: white;
    width: 65px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: solid 1px #99e2d0;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    font-size: 1.5;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in-out;
  }

  .dishes-validation span i {
    margin-top: 30px;
    font-size: 20px;
  }

  .entrance:hover .dishes-validation {
    transform: scaleX(1);
  }

  .entrance:hover .dish-price {
    transform: translate(-220%, 0%);
  }

  .entrance:hover span i {
    transform: rotate(360deg);
    transition-duration: 600ms;
    transition-delay: 200ms;
  }

  /***Affichage des plats***/

  /***Titre de l'entrée***/

  .dish-title {
    font-weight: normal;
    margin-left: 20px;
  }

  .dish-title h3 {
    border-bottom: 3px solid #99e2d0;
    width: 20%;
  }

  /***Flex pour les 3 blocs des Plats sans le titre***/

  .dish-presentation {
    display: flex;
    flex-direction: column;
  }

  .dish {
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .dish-bold {
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .dish-alignement {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .dish-txt {
    font-size: 12px;
    margin-top: 5px;
  }

  .dish-price {
    font-weight: bold;
    margin-top: 5px;
  }

  /***Affichage des desserts***/

  /***Titre des desserts***/

  .dessert-title {
    font-weight: normal;
    margin-left: 20px;
  }

  .dessert-title h3 {
    border-bottom: 3px solid #99e2d0;
    width: 12%;
  }
  /***Flex pour les 3 blocs des desserts sans le titre***/

  .dessert-presentation {
    display: flex;
    flex-direction: column;
  }

  .dessert {
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .dessert-bold {
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .dessert-alignement {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .dessert-txt {
    font-size: 12px;
    margin-top: 5px;
  }

  .dessert-price {
    font-weight: bold;
    margin-top: 5px;
  }

  /***Affichage du bouton du menu entrée***/

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-button button {
    border-radius: 20px;
    width: 53%;
    height: 50px;
    background-color: #9356dc;
    border: 20px;
    color: #ffffff;
    margin-top: 26px;
    font-weight: bolder;
    cursor: pointer;
  }

  /***Footer Menu la Palette du goût***/

  .footer-menu {
    background-color: #353535;
    height: 195px;
    padding-top: 20px;
    color: black;
  }

  .logo-footer-menu {
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .logo-footer-menu a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Shrikhand", cursive;
  }

  .fa-utensils,
  .fa-hands-helping {
    margin-right: 10px;
  }

  .fa-hands-helping {
    font-size: 10px;
  }

  .footer_link-menu {
    text-decoration: none;
    color: #ffffff;
    margin-left: 25px;
  }

  .footer_link-menu {
    line-height: 25px;
    font-family: "Roboto", sans-serif;
  }

  /******* Menu La note enchantée et test pour autres menus *******/

  .menu-display-enchantee {
    background-color: #f6f6f6;
    border-radius: 30px 30px 0px 0px;
    height: 1305px;
  }
}

/****Responsive Mobile 375px Taille M ****/

@media only screen and (min-width: 375px) {
  /*Localisation géographique à voir en fin de résultat affichage*/

  /*Fonctionnement test sinon (button-grey et button-purple*/
  .button-txt-align {
    line-height: 78px;
    font-weight: bolder;
    margin-left: -8px;
  }

  /*Menu carte style Titre entrée*/

  .entrance-title h3 {
    border-bottom: 3px solid #99e2d0;
    width: 15%;
  }

  .dish-title h3 {
    width: 15%;
  }
  .dessert-title h3 {
    width: 15%;
  }
}

@media only screen and (min-width: 425px) {
  /*Menu carte*/

  .entrance-title h3 {
    width: 13%;
  }

  .dish-title h3 {
    width: 13%;
  }
  .dessert-title h3 {
    width: 13%;
  }
}

/****Responsive Tablet 768px****/

@media only screen and (min-width: 768px) {
  /*baseline */

  .baseline {
    height: 239px;
  }

  .baseline span {
    display: block;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif; /*Police Texte utilisé Roboto Regular 400*/
  }

  .baseline h2 {
    display: none;
  }

  .desktop-display {
    padding-top: 40px;
  }
  .baseline-txt {
    font-size: 18px;
  }

  .baseline button {
    width: 100%;
  }

  /*Functionning*/

  .functioning button {
    width: 98%;
  }

  .button-txt,
  .button-txt-align {
    font-size: 16px;
  }

  .fa-mobile-alt,
  .fa-list,
  .fa-store {
    font-size: 25px;
  }

  .button-number {
    width: 35px;
    height: 35px;
    line-height: 32px;
  }

  /*Restaurant*/

  .restaurant {
    height: 1750px;
  }

  .restaurant-content {
    height: 370px;
  }

  .restaurant-content img {
    height: 290px;
  }

  /*Footer*/

  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .desktop-footer {
    padding-right: 20px;
  }

  .logo-footer {
    padding-left: 20px;
  }

  /*Affichage du menu La palette du goût*/

  .header-menu-display {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-title {
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
  }

  /*Menu carte Titre style*/

  .entrance-title h3 {
    width: 7%;
  }
  .dish-title h3 {
    width: 7%;
  }
  .dessert-title h3 {
    width: 7%;
  }
}

/****Responsive pour Laptop 1024px****/

@media only screen and (min-width: 1024px) {
  .functioning {
    display: flex;
    flex-direction: row;
    height: 115px;
  }

  .functioning-display {
    flex-direction: row;
    justify-content: space-between;
  }

  .button-desktop {
    margin-right: 20px;
  }

  .button-txt,
  .button-txt-align {
    font-size: 14px;
    line-height: 68px;
  }
  .functioning button {
    height: 65px;
  }

  .button-number {
    line-height: 33px;
    margin-top: 15px;
  }

  .functioning h2 {
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 26px;
    font-size: 18px;
  }
  .fa-mobile-alt,
  .fa-list,
  .fa-store {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /*Restaurant*/

  .restaurant {
    height: 1065px;
  }

  .restaurant h2 {
    display: flex;
    justify-content: center;
    width: 18%;
  }

  .desktop_title {
    margin-left: 0px;
    margin-top: 0px;
  }

  .desktop_restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
  }

  .restaurant-content {
    height: 400px;
    width: 41%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 71px;
  }

  .restaurant-content img {
    width: 100%;
    height: 295px;
  }

  /*Footer*/

  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .logo-footer {
    margin-left: 42px;
  }

  .desktop-footer {
    margin-right: 46px;
  }

  /*** Carte Menu restaurant***/

  /*Menu carte Titre style*/

  .entrance-title h3 {
    width: 5%;
  }
  .dish-title h3 {
    width: 5%;
  }
  .dessert-title h3 {
    width: 5%;
  }

  /*Footer Menu Carte */

  .desktop-footer-menu {
    margin-right: 0px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  /*Fonctionnement*/

  .functioning button {
    width: 104%;
  }

  .button-desktop {
    margin-right: 50px;
  }

  .button-txt,
  .button-txt-align {
    font-size: 14px;
  }

  .button-number {
    line-height: 33px;
    margin-top: 15px;
  }

  .functioning h2 {
    margin-top: 22px;
    font-size: 18px;
    margin-left: 40px;
  }

  .fa-mobile-alt,
  .fa-list,
  .fa-store {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /*Restaurant*/

  .restaurant {
    height: 1065px;
  }

  .restaurant h2 {
    display: flex;
    justify-content: center;
    width: 11%;
  }

  .desktop_title {
    margin-left: 0px;
    margin-top: 0px;
  }

  /*Footer*/
  .logo-footer {
    margin-left: 35px;
  }

  .desktop-footer {
    margin-right: 35px;
  }

  /*carte menu*/

  .entrance-title h3 {
    width: 5%;
  }
  .dish-title h3 {
    width: 5%;
  }
  .dessert-title h3 {
    width: 5%;
  }
}

/****Test Responsive Grands écrans d'ordinateurs valeur entre 992px - 1199px page accueil****/
/*Base de travail pour une version Laptop 1024px*/

@media only screen and (min-width: 1440px) {
  /*Fonctionnement*/

  .functioning h2 {
    margin-left: 40px;
  }

  .functioning {
    justify-content: center;
  }

  .button-desktop {
    margin-right: 65px;
  }

  /*Restaurant*/

  .restaurant {
    height: 1160px;
  }

  .desktop_restaurant {
    justify-content: center;
  }

  .desktop_title {
    margin-left: 0px;
    margin-top: 0px;
  }

  .restaurant h2 {
    display: flex;
    justify-content: center;
    width: 30%;
  }

  .restaurant-content {
    height: 450px;
    width: 34%;
    margin-right: 60px;
  }
  .restaurant-content img {
    height: 345px;
  }

  /*Footer*/

  footer {
    justify-content: space-around;
  }

  .logo-footer {
    padding-left: 0px;
  }

  .desktop-footer {
    padding-right: 72px;
  }

  /*carte menu*/

  .entrance-title h3 {
    width: 3%;
  }
  .dish-title h3 {
    width: 3%;
  }
  .dessert-title h3 {
    width: 3%;
  }

  .menu-button button {
    width: 35%;
  }

  /*Footer carte menu*/

  .footer-menu {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 2560px) {
  /*Resraurant*/
  .restaurant h2 {
    margin-left: 1%;
  }

  /*Footer*/

  /*Carte Menu*/

  .menu-button button {
    width: 25%;
  }

  .entrance-title h3 {
    width: 2%;
  }
  .dish-title h3 {
    width: 2%;
  }
  .dessert-title h3 {
    width: 2%;
  }
}
